<footer>
    <div class="container">
        <div class="row">
            <div class="col">
                <p style="font-size:11px; font-family: Arial, Helvetica, sans-serif; color: #636464">
                    <strong>LeasePlan (Schweiz)
                                                    AG</strong>
                    <br/>Baslerpark | Baslerstrasse 60
                    <br/>8048 Zürich, Schweiz</p>
                <p style="font-size: 11px; font-weight: bold; color: #f06400; font-family: Arial, Helvetica, sans-serif;">
                    www.leaseplan.com</p>
            </div>
            <div class="col">
                <p style="font-size:11px; font-family: Arial, Helvetica, sans-serif; color: #636464">T. +41 (0)44 746 63 63<br/>F.
                                            +41 (0)44 746 63 00<br/>E. info.ch@leaseplan.com</p>
            </div>
            <div class="col">
                <p style="font-size:11px; font-family: Arial, Helvetica, sans-serif; color: #636464">CHE-105.849.919 MWST<br/>Bankverbindung: UBS AG, 8098 Zürich
                    <br/>IBAN: CH330023023045613101X</p>
            </div>
        </div>
    </div>
</footer>
