<!doctype html>
<html class="no-js" lang="eng">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="format-detection" content="telephone=no">
        <meta name="theme-color" content="#ff5326">

        <title>Invoice Details</title>

        <style>
            {{ 'bootstrap.min.css' | loadCss('common') }}
            {{ 'fonts.css' | loadCss('leaseplan-base') }}
            {{ 'font-awesome.css' | loadCss('common') }}
            {{ 'main.css' | loadCss('leaseplan-base') }}
        </style>
    </head>

    <body>
        {% set currencyLocale = 'de-CH' %}
        {% set numberLocale = 'de-CH' %}
        {% set invoiceDateFormat = 'invoice_date_format' | t %}
        {% block content %}{% endblock %}

        <script>
            {{ 'LeaseplanPageBreakHandler.js' | loadJs('leaseplan-base') }}
            {% block scripts %}
                const pageBreakHandler = new LeaseplanPageBreakHandler(document);

                window.onload = function () {
                  pageBreakHandler.placePageBreaks();
                  pageBreakHandler.placePageNumbers();
                }
            {% endblock %}
        </script>
    </body>
</html>
